<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employer Emailer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
</head>
<body style="color:#302c2a;font-weight:700">

<div class="container">
	<div class="col-md-2"></div>
		<div class="col-md-8 col-xs-12" style="background:url(http://cloudacar.org/images/subscription_images/emailer_Top.png) no-repeat;min-height:320px;background-size:100%">
		</div>
	<div class="col-md-2"></div>
	<div class="col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-xs-12">
		<p>
		Dear Sir,</br> </br>With pollution at hazardous levels in major Indian cities, massive traffic congestions & driving
		stress impacting our health and productivity adversely, there is a need to take some urgent
		corrective measures by corporate and individuals for brighter tomorrow.
		</p
		<p>We introduce to you a social commute platform "cloudacar" specially designed  for employees to
		carpool for their home to office commute.
		</p>
		<p>“Cloudacar” carpooling App offers unique  features around user safety & convenience.
		</p>
		<p>Download our  Android and IOS APP  and Product Brochure by clicking the link below.</p>
		<p>We  would also like to partner with you to drive a personalized social commute program for your company  and to create benefits for you and your esteemed human resources.</p>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="col-md-5"></div>
		<div class="col-md-2 col-xs-12" style="text-align:center">
		<h4 style="font-weight:700;color:#075379"><u>Program Goal</u></h4>
		</div>
	<div class="col-md-5"></div>
		<div class="col-md-12">
		<div class="col-md-2"></div>
			<div class="col-md-8 col-xs-12">To build integrated social commute system for corporate & build community of social commuters</br>
											who benefit from it.
			</div>
		<div class="col-md-2"></div>
	</div>
	<div class="col-md-4"></div>
		<div class="col-md-4 col-xs-12" style="text-align:center">
		<h4 style="font-weight:700;color:#075379"><u>Program  Deliverables</u></h4>
		</div>
	<div class="col-md-4"></div>
	<div class="col-md-12">
		<div class="col-md-2"></div>
			<div class="col-md-8 col-xs-12">
				<ul style="line-height:2;">
					<li><i>To drive personalized car pooling program for your employees.</i></li>
					<li><i>To provide mobile based integrated Technology Platform for integrated social commute.</i></li>
					<li><i>Create internal Stake Holders & Volunteers to drive program.</i></li>
					<li><i>Measure Savings and Report Program Success to Key Stake Holders.</i></li>
					<li><i>Create Social Commute Policy & Incentives.</i></li>
					<li><i>Drive Employee Engagement Program through Gamification.</i></li>
					<li><i>Create joint Awareness & PR Campaigns.</i></li>
				</ul>
				We are keen to partner with you to change the way people commute to workplace and to derive benefits from social commute.
			</div>
		<div class="col-md-2"></div>
	</div>
	<div class="col-md-4"></div>
		<div class="col-md-4 col-xs-12" style="text-align:center;">
			<h4 style="font-weight:700;color:#075379">It Makes Sense !!</h4>
		</div>
	<div class="col-md-4"></div>
	<div class="col-md-12">
		<div class="col-md-2"></div>
			<div class="col-md-8 col-xs-12">
					<table class="table">
					  <tr>
						<th style="border:0"><a target="blank"><img src="http://cloudacar.org/images/subscription_images/clickhere_left.png"></a></th>
						<th style="border:0"><a href="https://itunes.apple.com/us/app/cloudacar/id1054338809?ls=1&mt=8" target="_blank"><img src="http://cloudacar.org/images/subscription_images/appStore.png"></a></th>
						<th style="border:0"><a href="http://cloudacar.org#contact" target="blank"><img src="http://cloudacar.org/images/subscription_images/contact.png"></a></th>
						<th style="border:0"><a href="https://play.google.com/store/apps/details?id=com.scispl.cloudacar&hl=en" target="_blank"><img src="http://cloudacar.org/images/subscription_images/playStore.png"></a></th>
						<th style="border:0"><a target="blank"><img src="http://cloudacar.org/images/subscription_images/clickhere_right.png"></a></th>
					  </tr>
				</table>
			</div>
		<div class="col-md-2"></div>
	</div>
	
	
	<div class="col-md-2">
	</div>
	<div class="col-md-12"></div>
	<div class="col-md-2"></div>
		<div class="col-md-8 col-xs-12" style="background:url(http://cloudacar.org/images/subscription_images/emailer_Bottom.png) no-repeat;min-height:260px;background-size:100%">
		</div>
		<div class="col-md-12"></div>
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<div> 
			<span><a href="http://cloudacar.org/" target="_blank">www.cloudacar.org</a></span>
			<span style="text-align:right;padding-left:400px"><a href="http://cloudacar.org/images/CAC_brochure_corporate.pdf" target="_blank">Download Brochure</a></span>
			</div>
		</div>
	<div class="col-md-2"></div>
</div>

</body>
</html>