<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>News Letter</title>
<style>
body{margin:0 auto;text-align:center;background:#999}
body table{width:650px}
h2{font-size:42px; margin: 5px;}
a{text-decoration:none;color:#41413F}
p {   font-size: 16px;}
tr {background: #FFF;}
</style>
</head>

<body>
<table cellpadding="0" cellspacing="0" align="center">
	<tr>
    	<td><img src="http://52.25.10.187:8080/images/subscription_images/oddEven.png"/></td>
    </tr>
	<tr>
    	<td><h2>DO <img src="http://52.25.10.187:8080/images/subscription_images/hand.png"/> CLOUDACAR</h2></td>
    </tr>
	<tr>
    	<td>
        	<p style="font-size:18px; font-weight:bold">
        		The Prefect Car Pooling solution that answers all your commuting problems.<br />
        		To reduce fatigue and increase efficiency
         	</p>
        	<h3 style="color:#D44F00; font-size:24px;">DOWNLOAD CLOUDACAR APP NOW.</h3>
       </td>
    </tr>
	<tr>
    	<td>
        	<span><a target="_blank" href="http://52.25.10.187:8080/subscription"><img src="http://52.25.10.187:8080/images/subscription_images/join.png" style="width:150px;margin: 20px auto;"/></a></span>
        	<span><a target="_blank" href="http://www.cloudacar.com"><img src="http://52.25.10.187:8080/images/subscription_images/konw.png" style="width:150px;margin: 20px auto;"/></a></span>
        </td>
    </tr>
	<tr>
    	<td>
        	<img src="http://52.25.10.187:8080/images/subscription_images/caclogo.png"style="margin: 20px auto;width:50%;"/>
        </td>
    </tr>
	<tr>
    	<td>
        	     <a target="_blank" href="http://www.cloudacar.org" style="font-size:20px">Log on to www.cloudacar.org</a>
        </td>
    </tr>
	
	<tr>
    	<td>
        	<span>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.scispl.cloudacar&hl=en"><img src="http://52.25.10.187:8080/images/subscription_images/app.png" style="width:150px;"/>
            </a>
            </span>
        	<span>
            	<a target="_blank" href="https://itunes.apple.com/us/app/cloudacar/id1054338809?ls=1&mt=8">
                <img src="http://52.25.10.187:8080/images/subscription_images/appstore.jpg" style="width:150px;"/>
              	</a>  
              </span>
        </td>
    </tr>
    <tr>
    	<td colspan="2">
        	<p>
        		
         	</p>
       </td>
    </tr>
    
</table>
</body>
</html>
